@model ConferenceWebApp.Models.FormModels.MembershipModel.LoginModel
@{
    
    Layout = "~/Views/Shared/Master.cshtml";
}

<br />
@using (Html.BeginForm())
{
    <div class="vc_col-sm-12 wpb_column column_container  ">
        <div class="wpb_wrapper">
            
            <h3 style="text-align: center" class="vc_custom_heading">Login</h3>
        </div>
    </div>
    
    <div id="vsc_row_sigruqjckg" class="vc_row vc_inner vc_row-fluid container" style="" data-token="VZJlg">
        <div class="vc_col-sm-12 wpb_column column_container  ">
            <div class="wpb_wrapper">
                <div id="vsc_row_gwjnpcbksl" class="vc_row vc_inner vc_row-fluid container" style="" data-token="VqGaH">
                    <div class="vc_col-sm-3 wpb_column column_container  ">
                        <div class="wpb_wrapper">

                        </div>
                    </div>
                    <div class="vc_col-sm-6 wpb_column column_container  ">
                        <div class="wpb_wrapper">
                            <div class="contact-form-7-data" data-token="vFpQY">
                                <div role="form" class="wpcf7" id="wpcf7-f1561-p2040-o2" lang="en-US" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <div class="form leadform leadform-3 align-left">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                @Request.QueryString["Status"]<br />
                                                @ViewBag.Error <br />
                                               
                                                @Html.ValidationMessageFor(m => m.Username, null, new { @class = "text-danger field-validation-error" })
                                                <span class="wpcf7-form-control-wrap FNAME">
                                                    
                                                    @Html.TextBoxFor(m => m.Username, new { @class = "wpcf7-form-control wpcf7-text wpcf7-validates-as-required", @placeholder = @Html.DisplayNameFor(m => m.Username) })
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger field-validation-error" })
                                                <span class="wpcf7-form-control-wrap LNAME">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "wpcf7-form-control wpcf7-text wpcf7-validates-as-email", @placeholder = @Html.DisplayNameFor(m => m.Password) })
                                                </span>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <span class="wpcf7-form-control-wrap your-message">
                                                   @Html.CheckBoxFor(m => m.RememberMe) &nbsp; @Html.DisplayNameFor(m => m.RememberMe) &nbsp; | &nbsp; @Html.ActionLink("Forgot Password", "ForgotPassword", "Home")
                                                </span>
                                               
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="form leadform leadform-3 align-center">
                                        <div class="form-group">
                                            <div class="col-sm-12 col-xs-12">
                                                <input type="submit" value="Login" class="wpcf7-form-control wpcf7-submit btn btn-lg" />
                                            </div>
                                        </div>

                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_col-sm-3 wpb_column column_container  ">
                        <div class="wpb_wrapper">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    


}
