@model ConferenceWebApp.Models.FormModels.ManageModel.DocumentModel
@{
    ViewBag.Title = "Add Files and Presentation (Abstract)";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}




@using (Html.BeginForm("AddDocument", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @ViewBag.Error

    <div class="col-lg-6">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <legend>@ViewBag.Title</legend>
                    <div class="form-group">
                        <label for="inputText" class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.Title) &nbsp; @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger field-validation-error" })</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.Title) })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputText" class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.Description) &nbsp; @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger field-validation-error" })</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.Description) })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputText" class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.SpeakerId) &nbsp; @Html.ValidationMessageFor(m => m.SpeakerId, null, new { @class = "text-danger field-validation-error" })</label>
                        <div class="col-lg-10">
                           @Html.DropDownListFor(m => m.SpeakerId, new SelectList(ViewBag.Speakers, "ID", "Name"), "Select Speaker", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputText" class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.UploadFile) &nbsp; @Html.ValidationMessageFor(m => m.UploadFile, null, new { @class = "text-danger field-validation-error" })</label>
                        <div class="col-lg-10">
                            <input type="file" class="form-control" name="Image" id="Image" placeholder="@Html.DisplayNameFor(m => m.UploadFile)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
}