@model ConferenceWebApp.Models.FormModels.ManageModel.OrganizersModel
@{
    ViewBag.Title = "Add a New Organizer";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



@using (Html.BeginForm("AddOrganizers", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @ViewBag.Error

    <div class="col-lg-6">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <legend>@ViewBag.Title</legend>
                    <div class="form-group">
                        <label for="inputText" class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.OrganizerName) &nbsp; @Html.ValidationMessageFor(m => m.OrganizerName, null, new { @class = "text-danger field-validation-error" })</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.OrganizerName, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.OrganizerName) })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputText" class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.Image) &nbsp; @Html.ValidationMessageFor(m => m.Image, null, new { @class = "text-danger field-validation-error" })</label>
                        <div class="col-lg-10">
                            <input type="file" class="form-control" name="Image" id="Image" placeholder="@Html.DisplayNameFor(m => m.Image)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
}