@model ConferenceWebApp.Models.FormModels.ManageModel.AddVideoModel
@{
    ViewBag.Title = "AddVideo";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


@using (@Html.BeginForm())
{
    <div class="col-lg-6">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Add Video</legend>
                    <div class="form-group">
                        <label for="inputUrl" class="col-lg-2 control-label">Youtube Video Url &nbsp; @Html.ValidationMessageFor(m => m.FileUrl, null, new { @class = "text-danger field-validation-error" })</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.FileUrl, new { @class = "form-control", @placeholder = "Youtube Video Url", @type = "Url" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputText" class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.Description) &nbsp; @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger field-validation-error" })</label>
                        <div class="col-lg-10">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.Description) + " (Optional)", @rows = "3" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-success">Add Video</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
}