@model ConferenceWebApp.Models.FormModels.MembershipModel.ChangePasswordFromAdminModel
@{
    ViewBag.Title = "Change Password From Admin";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}

@using (Html.BeginForm())
{
    @ViewBag.Error

    <div class="col-lg-6">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <legend>@ViewBag.Title</legend>
                    <div class="form-group">
                        <label for="inputText" class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.NewPassword) &nbsp; @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "text-danger field-validation-error" })</label>
                        <div class="col-lg-10">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.NewPassword) })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputText" class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.ConfirmPassword) &nbsp; @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger field-validation-error" })</label>
                        <div class="col-lg-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.ConfirmPassword) })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
}

