@model ConferenceWebApp.Models.FormModels.MembershipModel.ChangePasswordFromAdminModel
@{
    ViewBag.Title = "Change Password From Admin";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Change Password From Admin</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table>
        @Html.Hidden("UserId", Request.QueryString["UserId"])
        <tr><td>@ViewBag.Error</td></tr>
        
        <tr><td>@Html.DisplayNameFor(m => m.NewPassword):</td><td>@Html.PasswordFor(m => m.NewPassword)</td><td>@Html.ValidationMessageFor(m => m.NewPassword)</td></tr>
        <tr><td>@Html.DisplayNameFor(m => m.ConfirmPassword):</td><td>@Html.PasswordFor(m => m.ConfirmPassword)</td><td>@Html.ValidationMessageFor(m => m.ConfirmPassword)</td></tr>

        <tr><td></td><td></td><td><input type="submit" class="button default" value="Save" /></td></tr>

    </table>


}

