@model ConferenceWebApp.Models.FormModels.ManageModel.SponsorAndPartnerCategoryModel
@{
    ViewBag.Title = "Edit Partner Category";
    Layout = "~/Views/Shared/_adminlayout.cshtml";
}


@using (Html.BeginForm())
{
    @ViewBag.Error
    @Html.HiddenFor(m => m.Id)
    <div class="col-lg-6">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <legend>@ViewBag.Title</legend>
                    <div class="form-group">
                        <label for="inputText" class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.CategoryName) &nbsp; @Html.ValidationMessageFor(m => m.CategoryName, null, new { @class = "text-danger field-validation-error" })</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.CategoryName) })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputText" class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.Sequence) &nbsp; @Html.ValidationMessageFor(m => m.Sequence, null, new { @class = "text-danger field-validation-error" })</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Sequence, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.Sequence), type = "number" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
}

