@model ConferenceWebApp.Models.FormModels.ManageModel.FeeStructureModel
@{
    ViewBag.Title = "Edit Fee Structure";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@using (@Html.BeginForm())
{
    <div class="col-lg-6">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <legend>@ViewBag.Title</legend>
                    <div class="form-group">
                        <label for="inputText" class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.FeeStructure) &nbsp; @Html.ValidationMessageFor(m => m.FeeStructure, null, new { @class = "text-danger field-validation-error" })</label>
                        <div class="col-lg-10">
                            @Html.TextAreaFor(m => m.FeeStructure, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.FeeStructure), @rows = "20" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
}

