@model ConferenceWebApp.Models.FormModels.MembershipModel.RegistrationModel

@{
    ViewBag.Title = "EditUserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditUserDetails</h2>

@using (Html.BeginForm("EditUserDetails", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    if (ViewBag.Status != null)
    {
        <div class="alert">
            <strong>@ViewBag.Status</strong>
        </div>
    }
    @Html.HiddenFor(m => m.ID)
      @Html.HiddenFor(m => m.Password)
    <table>
        <tr><td>@ViewBag.Error</td></tr>

        <tr><td>@Html.DisplayNameFor(m => m.Name):</td><td>@Html.TextBoxFor(m => m.Name)</td><td>@Html.ValidationMessageFor(m => m.Name)</td></tr>
        <tr><td>@Html.DisplayNameFor(m => m.Email):</td><td>@Html.TextBoxFor(m => m.Email)</td><td>@Html.ValidationMessageFor(m => m.Email)</td></tr>
        <tr><td>@Html.DisplayNameFor(m => m.Profile):</td><td>@Html.TextAreaFor(m => m.Profile)</td><td>@Html.ValidationMessageFor(m => m.Profile)</td></tr>

        @if (!string.IsNullOrEmpty(@Model.Photo))
        {
            <tr>
                <td>Current Picture:</td>
                <td>
                    <img src="@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@ConferenceWebApp.BL.Constants.Constants.FilePaths.ProfileImagesPath/@Model.Photo" />
                </td>
                <td></td>
            </tr>
        }
        <tr>
            <td>@Html.DisplayNameFor(m => m.Role):</td>
            <td>
                @Html.DropDownListFor(m => m.Role, new List<SelectListItem>
                 {
                    new SelectListItem{ Text="Speaker", Value = "Speaker" },
                    new SelectListItem{ Text="User", Value = "User" }
                 }, "Select Role", null)
            </td>
            <td>@Html.ValidationMessageFor(m => m.Role)</td>
        </tr>
        <tr><td>New @Html.DisplayNameFor(m => m.ProfileImage):</td><td><input type="file" name="ProfileImage" id="ProfileImage" draggable="true" /></td><td></td></tr>
        <tr><td>@Html.DisplayNameFor(m => m.Organization):</td><td>@Html.TextBoxFor(m => m.Organization)</td><td>@Html.ValidationMessageFor(m => m.Organization)</td></tr>
        <tr><td>@Html.DisplayNameFor(m => m.Designation):</td><td>@Html.TextBoxFor(m => m.Designation)</td><td>@Html.ValidationMessageFor(m => m.Designation)</td></tr>
        <tr><td></td><td></td><td><input type="submit" class="button default" value="Edit User" /></td></tr>

    </table>
}

@*@ViewBag.Error

@using (@Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-lg-6">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <legend>@ViewBag.Title</legend>
                    <div class="form-group">
                        <label for="inputText" class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.ProgramName) &nbsp; @Html.ValidationMessageFor(m => m.ProgramName, null, new { @class = "text-danger field-validation-error" })</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.ProgramName, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.ProgramName) })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="inputText" class="col-lg-2 control-label">@Html.DisplayNameFor(m => m.ProgramDay) &nbsp; @Html.ValidationMessageFor(m => m.ProgramDay, null, new { @class = "text-danger field-validation-error" })</label>
                        <div class="col-lg-10">
                            @Html.DropDownListFor(m => m.ProgramDay, (SelectList)ViewBag.Days, new { @class = "form-control" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-success">Add Program</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
}*@

