
@{
    
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Index</h2>


@Html.ActionLink("Edit Conference Details", "EditConferenceDetails") <br /><br />

@Html.ActionLink("Edit City Information", "EditCityInfo") <br /><br />

@Html.ActionLink("Fee Structure Information", "EditFeeStructure") <br /><br />
<hr />
@Html.ActionLink("Manage Programs", "ViewPrograms") <br /><br />

@*@Html.ActionLink("Add Program", "AddProgram") <br /><br />*@

@Html.ActionLink("Users", "ViewUsers", "Manage") <br /><br /><hr />

@Html.ActionLink("Sponsor Categories", "ViewSponsorCategory") <br />
@Html.ActionLink("Manage Sponsors", "ViewSponsors") <br /><hr />

@Html.ActionLink("Partner Categories", "ViewPartnerCategory") <br />
@Html.ActionLink("Manage Partners", "ViewPartners") <br /><hr />

@Html.ActionLink("Manage Organizers", "ViewOrganizers") <br /><br />

@Html.ActionLink("Exhibition", "ViewExhibitors", "Manage") <br /><br />

@Html.ActionLink("Add Floor Plan", "AddFloorPlan", "Manage") <br /><br />

@Html.ActionLink("Reports and Presentations", "viewDocument", "Manage") <br /><br />

@Html.ActionLink("Videos", "Videos", "Manage") <br /><br />

@Html.ActionLink("ImageGallery", "ViewPictures", "Manage") <br /><br />

@Html.ActionLink("Log Out", "Logout", "Login") <br /><br />