@model List<ConferenceWebApp.Models.File>
@{
    ViewBag.Title = "Files and Reports";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<h1> Reports & Presentations </h1>

<div class="panel panel-default">
    <div class="panel-heading">@Html.ActionLink("Add Document", "AddDocument", "Manage", new { @class = "btn btn-primary btn-xs" }) </div>
    <div class="panel-body">

        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Speaker</th>
                    <th>Description</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ConferenceWebApp.Models.File DocumentFile in Model)
                {
                    <tr>

                        <td><a href="@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@ConferenceWebApp.BL.Constants.Constants.FilePaths.DocumentPath/@DocumentFile.FileName">@DocumentFile.Title</a></td>
                        <td>@DocumentFile.UserProfile.Name </td>
                        <td>@DocumentFile.Description</td>
                        <td>@Html.ActionLink("Delete", "DeleteDocument", new { DocumentId = @DocumentFile.ID }, new { onClick = "return ConfirmDelete('Document');", @class = "btn btn-danger btn-xs" })</td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>
