@{
    ViewBag.Title = "View Users";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>@ViewBag.Title</h1>



<div class="panel panel-default">
    <div class="panel-heading">@Html.ActionLink("Add New User", "RegisterUserFromAdmin", "Membership", new { @class = "btn btn-primary btn-xs" }) </div>
    <div class="panel-body">
        @{
            var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 100, defaultSort: "ID");
            grid.Pager(WebGridPagerModes.All);
            @grid.GetHtml(tableStyle: "table table-striped table-hover ", headerStyle: "text-left", htmlAttributes: new { id = "UsersList" }, columns: grid.Columns(
            grid.Column("Name"),
            grid.Column("Username"),
            grid.Column("Organization"),
                    grid.Column("Designation"),
                            grid.Column("Role"),
            grid.Column(header: "Edit", format: @<text>@Html.ActionLink("Edit", "EditUserDetails", "Manage", new { UserId = item.ID }, new { target = "_self" })</text>),
            grid.Column(header: "Delete", format: @<text>@Html.ActionLink("Delete", "DeleteUser", "Manage", new { UserId = item.ID }, new { target = "_self", onClick = "return ConfirmDelete('User');", @class = "btn btn-danger btn-xs" })</text>),
            grid.Column(header: "Change Password", format: @<text>@Html.ActionLink("Change Password", "ChangePasswordFromAdmin", "Manage", new { UserId = item.ID }, new { target = "_self", })</text>)


           ));

        }
    </div>
</div>




