@model List<ConferenceWebApp.Models.SponsorsAndPartners>
@{
    ViewBag.Title = "View Sponsors";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>View Sponsors</h2>

@Html.ActionLink("Add New Sponsor", "AddSponsor")<br /><br />

@if (ViewBag.PartnerCategory.Count == 0)
{
    @Html.Raw(" No Sponsor Found ");
}
<table class="table">

    @foreach (var SponsorPartnerCategory in ViewBag.PartnerCategory)
    {
        <tr>
            <td colspan="3"><h3>@SponsorPartnerCategory.CategoryName</h3></td>
        </tr>

        foreach (var Sponsors in Model.Where(x => x.CategoryID == SponsorPartnerCategory.ID).ToList())
        {
            <tr>
                <td>
                    <img src="@ConferenceWebApp.BL.Constants.Constants.FilePaths.SponsorAndPartnerImagesPath/@Sponsors.Photo" style="height:125px; width: 125px;" />
                </td>
                <td>
                    @Sponsors.SponsorName
                </td>
                <td>
                    @Html.ActionLink("Remove", "DeleteSponsor", new { SponsorId = @Sponsors.ID }, null)
                </td>
            </tr>
        }
    }

</table>

