@model List<ConferenceWebApp.Models.SponsorsAndPartners>
@{
    ViewBag.Title = "View Partners";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>ViewPartners</h2>

@Html.ActionLink("Add New Partner", "AddPartner")<br /><br />

@if (ViewBag.PartnerCategory.Count == 0)
{
    @Html.Raw(" No Partner Found ");
}

<table class="table">
    @foreach (var SponsorPartnerCategory in ViewBag.PartnerCategory)
    {
        <tr>
            <td colspan="3"><h3>@SponsorPartnerCategory.CategoryName</h3></td>
        </tr>

        foreach (var Partner in Model.Where(x => x.CategoryID == SponsorPartnerCategory.ID).ToList())
        {
            <tr>
                <td>
                    <img src="@ConferenceWebApp.BL.Constants.Constants.FilePaths.SponsorAndPartnerImagesPath/@Partner.Photo" style="height:125px; width: 125px;" />
                </td>
                <td>
                    @Partner.SponsorName
                </td>
                <td>
                    @Html.ActionLink("Remove", "DeleteSponsor", new { SponsorId = @Partner.ID }, null)
                </td>
            </tr>
        }
    }
</table>

