<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ConferenceWebApp.BL.Constants.PageTitles.AppTitle</title>

    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Master/AdminMaster/bootstrap.min.css" rel="stylesheet" />

</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@ConferenceWebApp.BL.Constants.PageTitles.AppTitle, "Index", "Manage", null, new { @class = "navbar-brand" })

            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Conference <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li> @Html.ActionLink("Edit Conference Details", "EditConferenceDetails") </li>
                            <li> @Html.ActionLink("Edit City Information", "EditCityInfo") </li>
                            <li> @Html.ActionLink("Fee Structure Information", "EditFeeStructure") </li>
                            <li> @Html.ActionLink("Add Floor Plan", "AddFloorPlan", "Manage") </li>
                            <li class="divider"></li>
                        </ul>
                    </li>

                    <li class="active">@Html.ActionLink("Programs", "ViewPrograms")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sponsors <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li> @Html.ActionLink("Sponsor Categories", "ViewSponsorCategory") </li>
                            <li class="divider"></li>
                            <li> @Html.ActionLink("Manage Sponsors", "ViewSponsors") </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Partners <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li> @Html.ActionLink("Partner Categories", "ViewPartnerCategory") </li>
                            <li class="divider"></li>
                            <li> @Html.ActionLink("Manage Partners", "ViewPartners") </li>
                        </ul>
                    </li>
                    <li> @Html.ActionLink("Organizers", "ViewOrganizers") </li>
                    <li> @Html.ActionLink("Exhibition", "ViewExhibitors", "Manage") </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Gallery <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li> @Html.ActionLink("Reports and Presentations", "viewDocument", "Manage") </li>
                            <li> @Html.ActionLink("Videos", "Videos", "Manage") </li>
                            <li> @Html.ActionLink("ImageGallery", "ViewPictures", "Manage") </li>
                        </ul>
                    </li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Log Out", "Logout", "Login")</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>



    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Custom.js"></script>

</body>
</html>
