@model ConferenceWebApp.Models.FormModels.HomeModels.SpeakerDetailsModel

@{
    ViewBag.Title = "About Speaker";
    Layout = "~/Views/Shared/Master.cshtml";
}

<br />

<div id="speakers" class="vc_row vc_inner vc_row-fluid container" style="" data-token="3VkRW">
    <div class="vc_col-sm-12 wpb_column column_container  ">
        <div class="wpb_wrapper">
            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

            <div class="speakers speakers-full speakers-3-columns photo-round-shape photo-md hide-socials" style="text-align:center">
                <div class='speaker-col'>
                    <div class='speaker'>
                        <div class='photo-wrapper' style="background-image: url('../Files/Profileimages/@if (!string.IsNullOrEmpty(@Model.UserProfile.Photo))
                                                                                                                                {@Model.UserProfile.Photo}
                                                                                                                                else
                                                                                                                                {@Html.Raw("NoImage.png")}');');">
                        </div><h3 class='name'>@Model.UserProfile.Name</h3><p class='text-alt'>
                            <small>@Model.UserProfile.Designation - @Model.UserProfile.Organization</small>
                        </p>
                        <p class='about' data-toggle="tooltip" title="@Model.UserProfile.Profile">
                            @Model.UserProfile.Profile
                        </p>
                        <ul class='speaker-socials'>
                            <li><a target='_blank' href='#'><span class='fa fa-facebook'></span></a></li>
                            <li><a target='_blank' href='#'><span class='fa fa-twitter'></span></a></li>
                            <li>
                                <a target='_blank' href='#'><span class='fa fa-linkedin'></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @*<div class="thumb-wrapper post-thumbnail">
                    <img src="../Master/wp-content/uploads/2015/11/stat-bg-860x340.jpg" alt="" />
                </div>*@
            <!--end post-thumbnail-->
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="content">
        <main role="main">
            <article id="page-6" class="post-6 page type-page status-publish hentry">
                <div class="entry-content">
                    <div class="woocommerce">
                        <section class="woocommerce-wrap">
                            <div class="col-md-offset-2 col-md-8 col-sm-8">
                                <table class="shop_table " cellspacing="0">
                                    <tbody>

                                        @foreach (var ProgramPeople in Model.ProgramPeoples)
                                        {
                                            var Program = @Model.Programs.FirstOrDefault(x => x.ID == ProgramPeople.ProgramId);

                                            <tr class="cart_item" style="cursor:pointer;" onclick="GotoUrl('/Home/Schedule')">
                                                <td class="product-name">
                                                    <strong>
                                                       
                                                        @Convert.ToDateTime(Program.StartTime.Value.ToString()).ToShortTimeString() <br />
                                                        @Convert.ToDateTime(Program.EndTime.Value.ToString()).ToShortTimeString() 
                                                        @*@Html.ActionLink(@ProgramMemberCategory.CategoryName, "KeynoteMemberByCategoryId", "Home", new { ProgramMemberCatId = ProgramMemberCategory.ID }, new { @style = "font-size: 20px;" })*@
                                                    </strong>
                                                </td>
                                                <td class="product-name" data-title="Product">
                                                    <strong>
                                                        @Program.ProgrameName
                                                    </strong> - <span class="amount">@Model.ProgramMemberCategories.FirstOrDefault(x => x.ID == ProgramPeople.CategoryId).CategoryName</span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="cart-collaterals">
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <footer class="entry-footer"></footer>

            </article>
        </main>
    </div>
</div>


