@model List<ConferenceWebApp.Models.Conversation_reply>
@{
    Layout = null;
}

<link href="~/Master/chat/css/normalize.css" rel="stylesheet" />

<script src="~/Master/chat/js/index.js"></script>
<script src="~/Master/chat/js/modernizr.js"></script>
<script src="~/Master/chat/js/prefixfree.min.js"></script>
<link href="~/Master/chat/css/chatStyle.css" rel="stylesheet" />

@Html.Hidden("ConversationId", (object)ViewBag.ConversationId)

<div class="chatheader">Messages</div>
<div class="container containerchat">
    <div class="row">
        @foreach (var ConversationReply in Model)
        {
            if (@ConversationReply.UserId == @ConferenceWebApp.BL.Helper.AuthenticationHelper.GetUserId())
            {
                <div class="Area col-xs-12 col-xs-offset-0">
                    <div class="L">
                        <a href="">
                            <img src="@ConferenceWebApp.BL.Constants.Constants.FilePaths.ProfileImagesPath/@ConversationReply.UserProfile.Photo" />
                            <div class="tooltip">@ConversationReply.UserProfile.Name<br />@ConversationReply.UserProfile.Designation <br /></div>
                        </a>
                    </div>
                    <div class="text R textR">
                        @ConversationReply.Reply
                    </div>
                </div>
            }
            else
            {
                <div class="Area col-xs-12 col-xs-offset-0">
                    <div class="R">
                        <a href="">
                            <img src="@ConferenceWebApp.BL.Constants.Constants.FilePaths.ProfileImagesPath/@ConversationReply.UserProfile.Photo" />
                            <div class="tooltip">@ConversationReply.UserProfile.Name<br />@ConversationReply.UserProfile.Designation <br /></div>
                        </a>
                    </div>
                    <div class="text L textL">
                        @ConversationReply.Reply
                    </div>
                </div>
            }
        }
    </div>
</div>