@model List<ConferenceWebApp.Models.Conversation>
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/Master.cshtml";
}
<style>
    .list_item_container {
        width: 300px !important;
        height: 60px !important;
        padding: 5px 0 !important;
    }

    .image {
        width: 60px !important;
        height: 60px !important;
        margin-right: 10px !important;
        float: left !important;
    }

    .description {
        font-style: italic !important;
        font-size: 0.8em !important;
        color: gray !important;
    }


    /* CSS used here will be applied after bootstrap.css */

    body {
        margin-top: 50px;
    }

    .nav-tabs .glyphicon:not(.no-margin) {
        margin-right: 10px;
    }

    .tab-pane .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .tab-pane .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .tab-pane .list-group .checkbox {
        display: inline-block;
        margin: 0px;
    }

    .tab-pane .list-group input[type="checkbox"] {
        margin-top: 2px;
    }

    .tab-pane .list-group .glyphicon {
        margin-right: 5px;
    }

        .tab-pane .list-group .glyphicon:hover {
            color: #FFBC00;
        }

    a.list-group-item.read {
        color: #222;
        background-color: #F3F3F3;
    }

    hr {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .nav-pills > li > a {
        padding: 5px 10px;
    }

    .ad {
        padding: 5px;
        background: #F5F5F5;
        color: #222;
        font-size: 80%;
        border: 1px solid #E5E5E5;
    }

        .ad a.title {
            color: #15C;
            text-decoration: none;
            font-weight: bold;
            font-size: 110%;
        }

        .ad a.url {
            color: #093;
            text-decoration: none;
        }

    .bold {
        font-weight: bold;
        color: rgb(254, 73, 24);
    }
</style>

@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script>

    jQuery(document).ready(function () {
        jQuery('.cancel').click(function () {

            jQuery('.Hide').hide();
            jQuery('.MessagesListContainer').show(/*'slide', { direction: 'right' }, 500*/);
        });

        jQuery('#SendNewMessage').click(function () {

            jQuery('.Hide').hide();

            jQuery('#users-container').show();
        });

        jQuery('#SendMessage').click(function () {

            if (jQuery('#Message').val().trim() == '') {
                alert('Message cannot be empty')
            }
            else {
                jQuery.ajax({
                    type: "POST",
                    url: '@Url.Action("SendNewMessage", "Home")',
                    //contentType: "application/json; charset=utf-8",
                    data: { ToUserId: jQuery('#ToUserId').val(), Message: jQuery('#Message').val() },
                    dataType: "json",
                    success: function (data) {
                        LoadConversationReplies(data);
                        jQuery('.Hide').hide();
                    },
                    error: function (xhr, error) {
                        console.log(xhr); console.log(error);
                    }
                });
            }

        });
    });

    function LoadConversationReplies(ConversationId) {

        jQuery.ajax({
            type: "POST",
            url: '@Url.Action("ConversationReplies", "Home")',
            //contentType: "application/json; charset=utf-8",
            data: { ConversationId: ConversationId },
            success: function (data) {
                jQuery('.Hide').hide();
                jQuery('#ConversationReplies .Messages').html(data);
                jQuery('#ConversationReplies').show(/*'slide', { direction: 'right' }, 500*/);

            },
            error: function (xhr, error) {
                console.log(xhr); console.log(error);
            }
        });
    }

    function ReplyInConversation() {

        jQuery.ajax({
            type: "POST",
            url: '@Url.Action("ReplyToConversation", "Home")',
            data: { ConversationId: jQuery('#ConversationId').val(), Reply: jQuery('#ReplyMessageText').val() },
            success: function (data) {

                jQuery('.Hide').hide();
                jQuery('#ConversationReplies .Messages').html(data);
                jQuery('#ReplyMessageText').val('');

            },
            error: function (xhr, error) {
                console.log(xhr); console.log(error);
            }
        });

    }

    function showMembers(element, showdivid) {
        jQuery('.rolesheading').removeClass('bold');


        jQuery(element).find('span').addClass('bold');

        jQuery('.userlist').hide();
        jQuery('.userlist').hide();

        jQuery('#' + showdivid).show();

    }

    function SendNewMessage(ToUserId, ToUserName) {
        jQuery('#ToUserId').val(ToUserId);
        jQuery('#txtUserName').val(ToUserName);


        jQuery('.Hide').hide();
        jQuery('#users-container').hide();
        jQuery('#NewConversation').show();
    }

</script>








@*<input type="text" id="txtUserSearch" />*@


<div>

    <div style="">
        @*<a id="SendNewMessage"> Send a new message </a><a id="BackToMessageList"> < Back </a>*@
        @*<div id="NewConversation" class="Hide" style="display:none;">
                Recipent: <input type="text" id="txtUserName" /> <br />

                <input type="hidden" id="ToUserId" /> <br />
                Message: <textarea id="Message"> </textarea> <br /><br /><br />
                <a id="SendMessage"> Send Message </a><a class="cancel"> Cancel </a>

            </div>*@
        @*************************************************************************************************@
        <div id="NewConversation" class="Hide" style="display:none;">
            <div class="vc_col-sm-12 wpb_column column_container  ">
                <div class="wpb_wrapper">
                    <h3 style="text-align: center" class="vc_custom_heading">Send new message</h3><p style="color: #8d93a0;text-align: center" class="vc_custom_heading">
                    </p>
                </div>
            </div>
            <div id="vsc_row_sigruqjckg" class="vc_row vc_inner vc_row-fluid container" style="" data-token="VZJlg">
                <div class="vc_col-sm-12 wpb_column column_container  ">
                    <div class="wpb_wrapper">
                        <div id="vsc_row_gwjnpcbksl" class="vc_row vc_inner vc_row-fluid container" style="" data-token="VqGaH">
                            <div class="vc_col-sm-3 wpb_column column_container  ">
                                <div class="wpb_wrapper">

                                </div>
                            </div>
                            <div class="vc_col-sm-6 wpb_column column_container  ">
                                <div class="wpb_wrapper">
                                    <div class="contact-form-7-data" data-token="vFpQY">
                                        <div role="form" class="wpcf7" id="wpcf7-f1561-p2040-o2" lang="en-US" dir="ltr">
                                            <div class="screen-reader-response"></div>
                                            <div class="form leadform leadform-3 align-left">

                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <span class="wpcf7-form-control-wrap FNAME">
                                                            <input type="text" id="txtUserName" placeholder="Recipent" disabled /> <br />

                                                            <input type="hidden" id="ToUserId" /> <br />
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <span class="wpcf7-form-control-wrap LNAME">
                                                            <textarea id="Message" placeholder="Message"></textarea>
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="form leadform leadform-3 align-center">
                                            <div class="form-group">
                                                <div class="col-sm-12 col-xs-12">


                                                    <input id="SendMessage" value="Send" class="wpcf7-form-control wpcf7-submit btn btn-sm " />


                                                </div>
                                            </div>

                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_col-sm-3 wpb_column column_container  ">
                            <div class="wpb_wrapper">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*************************************************************************************************@
        <div id="ConversationReplies" style="display:none;" class="Hide">

            <div class="Messages">

            </div>

            <div>
                <div class="Area">
                    <textarea id="ReplyMessageText" placeholder="Type your message here"></textarea>
                    <br /><br />
                    <input class="cancel" type="button" onclick="" value="BACK" />&nbsp;&nbsp;&nbsp;<input type="button" onclick="ReplyInConversation();" value="SEND" style="float:right;" />
                    <div class="validation">You Are Not Registered</div>
                    <br />
                    <p class="note"></p>
                </div>

            </div>
        </div>
    </div>
    <div style="">
        <div class="container MessagesListContainer Hide">
            <h2> Networking </h2>

            @*<div class="row">
                    <div class="pull-right">

                        <span class="text-muted"><b>1</b>–<b>50</b> of <b>160</b></span>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </button>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </div>
                    </div>
                </div>*@
            <hr>
            <input id="SendNewMessage" value="Compose" class="wpcf7-form-control wpcf7-submit btn btn-sm" /><br /><br />
            @*<div class="container"><a id="SendNewMessage"> Send a new message </a></div>*@
            <div class="col-sm-9 col-md-10">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#home" data-toggle="tab">
                            <span class="glyphicon glyphicon-inbox">
                            </span>Messages
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <div class="list-group">
                            @foreach (var Conversation in Model)
                            {
                                <a href="#" class="list-group-item" onclick="LoadConversationReplies(@Conversation.ID);" style="">

                                    @*<span class="glyphicon glyphicon-star-empty"></span>*@<span class="name" style="min-width: 120px; min-height: 18px; display: inline-block; padding-top: 5px; ">
                                        @if (ConferenceWebApp.BL.Helper.AuthenticationHelper.GetUserId() == @Conversation.UserIdOne)
                                        { @Conversation.UserProfile1.Name}
                                        else
                                        { @Conversation.UserProfile.Name }
                                    </span> <span class=""></span>
                                    <span class="text-muted" style="font-size: 11px;"> - @Conversation.Conversation_reply.OrderByDescending(x => x.Time).First().Reply</span> <span class="badge">
                                        @Convert.ToDateTime(@Conversation.Time.Value.ToString()).ToShortTimeString()
                                    </span> <span class="pull-right">
                                        @*<span class="glyphicon glyphicon-paperclip">
                                            </span>*@
                                    </span>
                                </a>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="profile">
                        <div class="list-group">
                            <div class="list-group-item">
                                <span class="text-center">This tab is empty.</span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="messages">
                        ...
                    </div>
                    <div class="tab-pane fade in" id="settings">
                        This tab is empty.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="users-container" class="" style="display:none;">
    <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center ">
        <div class="vc_icon_element-inner vc_icon_element-color-accent-color vc_icon_element-size-lg vc_icon_element-style- vc_icon_element-background-color-grey"><span class="vc_icon_element-icon icon icon-faces-users-04"></span></div>
    </div>
    <h3 style="text-align: center" class="vc_custom_heading">Select User</h3>
    <div class="wpb_text_column wpb_content_element ">
    </div>
    <div class="container-fluid">
        <div class="content">
            <main role="main">
                <article id="page-6" class="post-6 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div class="woocommerce">
                            <section class="woocommerce-wrap">
                                <div class="col-md-offset-2 col-md-8 col-sm-8">
                                    <table class="shop_table " cellspacing="0">


                                        <tr class="cart_item">
                                            <td class="product-name" @*data-title="Product"*@ onclick="showMembers(jQuery(this), 'speakersList');">
                                                <span class="bold rolesheading"> Speakers </span>
                                            </td>
                                            <td class="product-price" @*data-title="Price"*@ onclick="showMembers(jQuery(this), 'participantsList');">
                                                <span class="amount rolesheading"> Participants </span>
                                            </td>
                                        </tr>
                                        <tr class="cart_item">
                                            <td colspan="2" class="product-name" @*data-title="Product"*@>
                                                <strong></strong>
                                                <div style="display:none"> ad</div>
                                            </td>
                                        </tr>
                                        <tbody id="speakersList" class="userlist">

                                            @foreach (var item in ViewBag.speakersUserProfiles)
                                            {
                                                <tr class="cart_item" onclick="SendNewMessage(@item.ID, '@item.Name')">
                                                    <td colspan="2" class="product-name bold" @*data-title="Product"*@>
                                                        <strong>@item.Name</strong>
                                                        <br /><br />
                                                        <div style="display:none"> ad</div>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>


                                        <tbody id="participantsList" class="userlist" style="display:none;">
                                            @foreach (var item in ViewBag.ParticipantsUserProfiles)
                                            {
                                                <tr class=" cart_item" onclick="SendNewMessage(@item.ID, '@item.Name')">
                                                    <td colspan="2" class="product-name bold" @*  data-title="Product" *@>
                                                        <strong>@item.Name</strong><br /><br />
                                                        <div style="display:none"> ad</div>
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="cart-collaterals">
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <footer class="entry-footer"></footer>
                </article>
            </main>
        </div>
    </div>
</div>